@import "~leaflet/dist/leaflet.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
// app global css in SCSS form
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
 }
.q-tab {
  padding: 0 8px!important;
}
body.mobile .q-tabs__content {
  overflow: visible!important;
  /* overflow: auto; */
}
.bg-gray{
  background-color: #F1F1F1;
}
.q-field--outlined .q-field__control:before {
  border: 1px solid rgba(#313133, 0.5) !important;
  transition: border-color 0.36s cubic-bezier(0.4, 0, 0.2, 1);
}
.q-field__label{
  font-size: 14px;
}
.pb72{
  padding-bottom: 72px;
}
.q-tab__label{
  font-size: 11px;
}
.muted-text{
  opacity: 0.8;
  span{
    text-decoration: underline;
    color: #333;
    text-decoration-color: black;;
    padding: 2px;
  }
}
.scrollable{
  overflow: scroll;
  max-height: calc(100vh - 72px);
  padding-bottom: 72px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.scrollable::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}


.custom-popup-proxy, .q-dialog{
  z-index: 99999;
}

.body--dark .bg-white,
.body--dark .detailHeader,
.body--dark .topbar,
.body--dark .bg-gray,{
  background-color: transparent!important;
}
.body--dark .input-bg-white .q-field__control.relative-position.row.no-wrap, {
  background-color: #222!important;
}

.body--dark .input-bg-white .q-field__control.relative-position.row.no-wrap, .body--dark .q-field__control.relative-position.row.no-wrap{
  background-color: #222!important;
}

.body--dark * {
  color: white!important;
}

.body--dark .leaflet-tooltip *{
  color: black!important;
}
.body--dark .leaflet-control-zoom *{
  color: black!important;
}
